<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-In</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/headers.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/customMenu.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      .profile-progress-bar {
  width: 100%; 
  margin-bottom: 10px;
  list-style: none;
  padding: 0;
}

.profile-progress-bar li {
  margin: 15px 0;
  padding: 5px;
  display: flex;
  align-items: center;
}

.profile-progress-bar .bar {
  flex-grow: 1;
  margin-right: 10px;
  background: #353b48;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.profile-progress-bar .progress-text {
margin-right: 10px; 
}
.profile-progress-bar .attribute {
font-size: 14px; 
color: #555; 
}

.profile-progress-bar .bar:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.profile-progress-bar .bar span {
  height: 20px;
  float: left;
  background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103,1)100%);
}

.profile-progress-bar .html {
  width: 90%;
}

.profile-progress-bar .css {
  width: 40%;
}

.profile-progress-bar .java {
  width: 70%;
}

.profile-progress-bar .python {
  width: 10%;
}
    </style>
</head>

<body>
  <section id="profile">
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li class="list active">
                  <a href="/index">
                      <span class="icon">
                          <img src="../assets3/home.png" class="mb-3" width="30" height="30" alt="">
                      </span>
                      <span class="text">Home</span>
                  </a>
              </li>
              <li class="list">
                  <a href="/exercise">
                      <span class="icon">
                          <img src="../assets3/jogging.png" class="mb-3" width="30" height="30" alt="">
                      </span>
                      <span class="text">Exercises</span>
                  </a>
              </li>
              <li class="list">
                  <a href="/profile">
                      <span class="icon">
                          <img src="../assets3/exercise.png" class="mb-3" width="30" height="30" alt="">
                      </span>
                      <span class="text">Profile</span>
                  </a>
              </li>
              <li class="list">
                  <a href="/shop">
                      <span class="icon">
                          <img src="../assets3/store.png" class="mb-3" width="30" height="30" alt="">
                      </span>
                      <span class="text">Store</span>
                  </a>
              </li>
              <li class="list">
                <a href="/admin">
                    <span class="icon">
                        <img src="../assets3/adminka.png" class="mb-3" width="30" height="30" alt="">
                    </span>
                    <span class="text">Admin</span>
                </a>
              </li>
              <li class="list"><a><span class="icon">
                <img src="../assets2/xppIcon.png" class="mb-3" width="30" height="30" alt="">
              </span><span class="text"><%= user ? user.xp : 'N/A' %></span></a></li>
              <li class="list"><a><span class="icon">
                <img src="../assets2/coinI.png" class="mb-3" width="30" height="30" alt="">
              </span><span class="text"><%= user ? user.money : 'N/A' %></span></a></li>
            
          </ul>

  
          <div class="text-end">
            <a href="/login"><button type="button" class="custom-btn me-2">Login</button></a>
            <a href="/register"><button type="button" class="custom-btn">Sign-up</button></a>
          </div>
        </div>
      </div>
    </header>

      <div id="hunger" style="display: none;"><%= user.hunger %></div>
      <div id="health" style="display: none;"><%= user.health %></div>
      <div id="money" style="display: none;"><%= user.money %></div>
      <div id="experience" style="display: none;"><%= user.xp %></div>
  
  </section>
  <section id="exercises">
        <div class="container>">
          <div class="row">
            <div id="exerciseContainer">
        
            </div>
          </div>
        </div>

  </section>
    <script>
        $(document).ready(function() {

      fetchAllExercisesForProf()

    });

    function fetchAllExercisesForProf() {
        
        $.ajax({
          type: 'POST',
          url: '/api/enemy/fetchAllEnemies', 
          contentType: 'application/json',
          success: function (response) {
              $('#exerciseContainer').html(response);
          },
          error: function (error) {
              console.error(error);
          }
        });
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>