<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-In</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/headers.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/customMenu.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <header class="p-3 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li class="list active">
                    <a href="/">
                        <span class="icon">
                            <img src="../assets3/home.png" class="mb-3" width="30" height="30" alt="">
                        </span>
                        <span class="text"><%= __('home') %></span>
                    </a>
                </li>
                <li class="list">
                    <a href="/exercise">
                        <span class="icon">
                            <img src="../assets3/jogging.png" class="mb-3" width="30" height="30" alt="">
                        </span>
                        <span class="text"><%= __('exercises') %></span>
                    </a>
                </li>
                <li class="list">
                    <a href="/profile">
                        <span class="icon">
                            <img src="../assets3/exercise.png" class="mb-3" width="30" height="30" alt="">
                        </span>
                        <span class="text"><%= __('profile') %></span>
                    </a>
                </li>
                <li class="list">
                    <a href="/enemy">
                        <span class="icon">
                            <img src="../assets3/enemyMain.png" class="mb-3" width="30" height="30" alt="">
                        </span>
                        <span class="text"><%= __('enemy') %></span>
                    </a>
                  </li>
                <li class="list">
                    <a href="/shop">
                        <span class="icon">
                            <img src="../assets3/store.png" class="mb-3" width="30" height="30" alt="">
                        </span>
                        <span class="text"><%= __('store') %></span>
                    </a>
                </li>
                <li class="list">
                    <a href="/api/fitnessQ">
                        <span class="icon">
                            <img src="../assets3/fitnessIcon.png" class="mb-3" width="30" height="30" alt="">
                        </span>
                        <span class="text">Fitness</span>
                    </a>
                </li>
                
              <!-- <li class="list"><a><span class="icon">
                <img src="../assets2/xppIcon.png" class="mb-3" width="30" height="30" alt="">
              </span><span class="text"><%= user ? user.xp : 'N/A' %></span></a></li> -->
              <li class="list"><a><span class="icon">
                <img src="../assets2/coinI.png" class="mb-3" width="30" height="30" alt="">
              </span><span class="text"><%= user ? user.money : 'N/A' %></span></a></li>
            </ul>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= __('language') %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                    <li><a class="dropdown-item" href="?lang=<%= i18n.getLocale()  === 'ru' ? 'en' : i18n.getLocale() %>">English</a></li>
                    <li><a class="dropdown-item" href="?lang=ru">Русский</a></li>
                </ul>
              </div>
    
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input type="search" id="exerciseSearchInput" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
            </form>
    
            <div class="text-end">
                <a href="/login"><button type="button" class="custom-btn me-2"><%= __('login') %></button></a>
                <a href="/register"><button type="button" class="custom-btn"><%= __('signup') %></button></a>
            </div>
          </div>
        </div>
      </header>
      
    </div>
    
        <div id="hunger" style="display: none;"><%= user.hunger %></div>
        <div id="health" style="display: none;"><%= user.health %></div>
    

    <section class="container p-5">
        <div class="progress">
            
            <div id="progress-bar" class="progress-bar bg-warning text-dark" role="progressbar" 
                aria-valuenow="<%= user.hunger %>" aria-valuemin="0" aria-valuemax="100"><%= user.hunger %>%
            </div>
            </div>
        
        <h1 class="mb-4 text-glow"><%= __('selectExerciseType') %></h1>
        
    
        <form class="mb-4">
            <div class="mb-3">
                <label for="exerciseType" class="form-label text-glow">Choose an exercise type:</label>
                <select name="exerciseType" id="exerciseType" class="form-select">
                    <option value="all"><%= __('allTypes') %></option>
                    <% exerciseTypes.forEach(type => { %>
                        <option value="<%= type._id %>"><%= type.name %></option>
                    <% }); %>
                </select>
            </div>
        </form>
        

    <div id="exerciseContainer">
        
    </div>
    

    </section>

    
    <footer class="bg-black text-white text-center py-4 bg-gradient-footer-opacity">
        <blockquote>
            <div class="footer-section">
                <p>&copy; 2023 Armwrestling Category</p>
            </div>
        </blockquote>
    </footer>
    <script>
        $(document).ready(function() {

            $('#exerciseSearchInput').on('input', function () {
                const exerciseName = $(this).val();
                searchExercises(exerciseName);
            });
            
            fetchExercises('all');
        });

        function searchExercises(exerciseName) {
        $.ajax({
            type: 'POST',
            url: '/api/user/searchExercises',
            contentType: 'application/json',
            data: JSON.stringify({ exerciseName: exerciseName }),
            success: function (response) {
                $('#exerciseContainer').html(response);
            },
            error: function (error) {
                console.error(error);
            }
        });
        }

        function fetchExercises(exerciseType) {
            $.ajax({
                type: 'POST',
                url: '/api/user/gett',
                contentType: 'application/json',
                data: JSON.stringify({ exerciseType: exerciseType }),
                success: function(response) {
                    
                    $('#exerciseContainer').html(response);
                },
                error: function(error) {
                    console.error(error);
                }
            });
        }

        $('#exerciseType').change(function() {
            
            const selectedExerciseType = $(this).val();
            fetchExercises(selectedExerciseType);
        });


        const hungerData = document.getElementById("hunger").innerText
        const healthData = document.getElementById("health").innerText
        var progress = document.getElementById('progress-bar')
        var smallOne = document.getElementById('smallProgressBar');
        var healthOne = document.getElementById('smallHealthBar');
        progress.style.width = `${hungerData }%`
        smallOne.style.width =    `${hungerData * 3.5}%`
        healthOne.style.width =    `${healthData * 3.5}%`

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>