<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burned Calorie Calculator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/customMenu.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
    <header class="p-3 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li class="list active">
                    <a href="/index">
                        <span class="icon">
                            <img src="../assets3/home.png" class="mb-3" width="30" height="30" alt="">
                        </span>
                        <span class="text"><%= __('home') %></span>
                    </a>
                </li>
                <li class="list">
                    <a href="/exercise">
                        <span class="icon">
                            <img src="../assets3/jogging.png" class="mb-3" width="30" height="30" alt="">
                        </span>
                        <span class="text"><%= __('exercises') %></span>
                    </a>
                </li>
                <li class="list">
                    <a href="/profile">
                        <span class="icon">
                            <img src="../assets3/exercise.png" class="mb-3" width="30" height="30" alt="">
                        </span>
                        <span class="text"><%= __('profile') %></span>
                    </a>
                </li>
                <li class="list">
                  <a href="/enemy">
                      <span class="icon">
                          <img src="../assets3/enemyMain.png" class="mb-3" width="30" height="30" alt="">
                      </span>
                      <span class="text"><%= __('enemy') %></span>
                  </a>
                </li>
                <li class="list">
                    <a href="/shop">
                        <span class="icon">
                            <img src="../assets3/store.png" class="mb-3" width="30" height="30" alt="">
                        </span>
                        <span class="text"><%= __('store') %></span>
                    </a>
                </li>
          
                <li class="list">
                  <a href="/statis">
                      <span class="icon">
                        <img src="../assets3/heart-rate.png" class="mb-3" width="30" height="30" alt="">
                      </span>
                      <span class="text"><%= __('statsForWeek') %></span>
                  </a>
                </li>
                <!-- <li class="list"><a><span class="icon">
                  <img src="../assets2/xppIcon.png" class="mb-3" width="30" height="30" alt="">
                </span><span class="text"><%= user ? user.xp : 'N/A' %></span></a></li> -->
                <li class="list"><a><span class="icon">
                  <img src="../assets2/coinI.png" class="mb-3" width="30" height="30" alt="">
                </span><span class="text"><%= user ? user.money : 'N/A' %></span></a></li>
            </ul>
    
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <%= __('language') %>
              </button>
              <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                <li><a class="dropdown-item" href="?lang=en">English</a></li>
                <li><a class="dropdown-item" href="?lang=ru">Русский</a></li>
              </ul>
            </div>
    
            <div class="text-end">
              <a href="/login"><button type="button" class="custom-btn me-2"><%= __('login') %></button></a>
              <a href="/register"><button type="button" class="custom-btn"><%= __('signup') %></button></a>
            </div>
          </div>
        </div>
      </header>

    <div class="container mt-5">
        <h3 class="text-center">Burned Calorie Calculator</h3>

        <form action="/api/fitnessQ" method="get" id="burned-calorie-form" class="form-signin w-100 m-auto mt-5">
            <input type="text" id="activityid" name="activityid" placeholder="Activity ID, like bi_7" required />
            <input type="number" id="activitymin" name="activitymin" placeholder="Activity Minutes" required />
            <input type="number" id="weight" name="weight" placeholder="Weight (kg)" required />
            <button type="submit"  class="custom-btn">Calculate Burned Calorie</button>
        </form>

   
        <div id="burned-calorie-result" class="mt-3">
            <% if (latestBurnedCalorie) { %>
                <h4 class="card-title">Burned Calorie: <%= latestBurnedCalorie.burnedCalorie %> <%= latestBurnedCalorie.unit %></h4>
            <% } else { %>
                <p>No burned calorie information available.</p>
            <% } %>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>